body {
    overflow-y: auto;
}

.sms .link {
    cursor: pointer;
    text-decoration: underline;
}

.sms .alert.error-message {
    white-space: pre;
}

.sms .keepFormatting {
    white-space: pre-wrap;
}

.sms .allow-line-break {
    white-space: normal;
}

.sms .receiver-panel .panel-heading {
    height: 55px;
}

.sms .failed-person-list {
    
}

.sms .datetimepicker {
    margin-top: 5px;
}

.sms .message-field {
    height: 250px;
}

.sms .person-text-row {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.sms .receiver-remove {
    cursor: pointer;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.sms .receiver-table .header-row {
    font-weight: bold;
}

.sms .row {
    /*border: solid 1px green;*/
}


.sms .close-btn-group {
    width: 200px;
    float: right;
}

.sms .close-btn-group .btn {
    width: calc(50% - 2px);
}

/*
Set is narrow.
*/
.sms table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td {
    display: block;
}

.sms table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
}
/*
When scrolling the table, actually it is only the tbody portion of the
table that scrolls (not the entire table: we want the thead to remain
fixed).  We must specify an explicit height for the tbody.  We include
100px as a default, but it can be overridden elsewhere.

Also, we force the scrollbar to always be displayed so that the usable
width for the table contents doesn't change (such as becoming narrower
when a scrollbar is visible and wider when it is not).
*/
.sms table.table-fixedheader>tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 155px;
    
}
/*
We really don't want to scroll the thead contents, but we want to force
a scrollbar to be displayed anyway so that the usable width of the thead
will exactly match the tbody.
*/
.sms table.table-fixedheader>thead {
    overflow-y: hidden;    
    overflow-x: hidden;
}
/*
For browsers that support it (webkit), we set the background color of
the unneeded scrollbar in the thead to make it invisible.  (Setting
visiblity: hidden defeats the purpose, as this alters the usable width
of the thead.)
*/
.sms table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
}

.sms table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
}
/*
We want to set <th> and <td> elements to float left.
We also must explicitly set the width for each column (both for the <th>
and the <td>).  We set to 20% here a default placeholder, but it can be
overridden elsewhere.
*/
.sms table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
    float: left;    
    word-wrap:break-word;     
}