<div data-bind="infoTile">
    Välj tabell:<br />
    <select data-bind="options: tables,          
        optionsText: 'tables', click: getFields, value: table"/> <br />
    Välj fält:<br />
    <select data-bind="options: fields,
        optionsText: 'fields', enabled: fieldsenabledforedit, value: field"/><br />
    <select data-bind="enabled: typeenabledforedit, value: type">
        <option>Sum</option>
        <option>Count</option>
        <option>Average</option>
        <option>List</option>
    </select><br />
</div>