body
{ 
	scrollbar-base-color: #E0EEFF;
	scrollbar-arrow-color: #6985B7;
	scrollbar-DarkShadow-Color: #666666;
	background-color: #F1F6FF;
	font-family: Arial;
}


.embrello-board {
	/*overflow-y: auto;*/	/* Does not work unfortunately */
	overflow-x: auto;
	/*border: 1px solid green;*/
	margin-left: 11px;
	margin-top: 7px;
}

.embrello-board-header {
	/*border: 1px solid green;*/
	height: 50px;
	text-align: center;
	font-size: 20px;
}

.embrello-filterwarning {
	font-size: 18px;

}

.embrello-board-header-title {
	margin-bottom: 10px;
	/*color: #212121;*/
	/*border: 1px solid black;*/
	/*float: left;*/
	display: inline-block;
	/*margin-left: auto;
	margin-right: auto;*/
}

.embrello-board-header-unit {
	font-size: 14px;
}

.embrello-board-header-negativesum {
	margin-left: 15px;
}

.embrello-parenthesis {
	margin-left: -5px;
	margin-right: -5px;
}

.embrello-color-positive {
	color: #00b05b;
}

.embrello-color-negative {
	color: #8b8b8b;
}

.embrello-color-title {
	color: #212121;
}

.embrello-color-lessimportant {
	color: #8b8b8b;
}

.embrello-color-positive-background {
	background-color: #00b05b;
}

.embrello-color-lessimportant-background {
	background-color: #8b8b8b;
}

.embrello-color-blue {
	background-color: #2693ff;
}

.embrello-color-turquoise {
	background-color: #00a4b0;
}

.embrello-color-green {
	background-color: #83Ba1f;
}

.embrello-color-clean-green {
	background-color: #00b05b;
}

.embrello-color-orange {
	background-color: #e56c19;
}

.embrello-color-deep-red {
	background-color: #c81c1c;
}


.embrello-lanes-container {
	height: 85%;
	/*width: 1260px;*/
	/*border: 2px solid black;*/
	margin-left: -10px;
	margin-right: -10px;
}

.embrello-lane-container {
	height: 100%;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.embrello-lane {
	width: 232px;
	/*border: 1px solid green;*/
	/*padding: 10px;*/
	/*border-radius: 5px;*/
	background-color: transparent;/*#E0EEFF;*/
	/*margin: 5px;*/
}

.embrello-lane-header {
	/*border: 1px solid black;*/
	width:100%;
	/*height: 30px;*/
}

.embrello-lane-info {
	margin-bottom: 20px;
}

.embrello-lane-title {
	/*border: 1px solid red;*/
	font-size: 16px;
	width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	/*display: inline-block;*/
	/*vertical-align: bottom;*/
	/*height: 100%;*/
}

.embrello-lane-count {
	font-size: 14px;
}

.embrello-lane-sum {
	font-size: 14px;
	/*padding-left: 5px;*/
}

.embrello-lane-sum-unit {
	font-size: 10px;
}

.embrello-lane-coloredbar {
	height: 4px;
}

.embrello-card {
	/*width: 100%;*/
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #c7cdd3;
	white-space: normal;
	background-color: #FFFFFF;
	/*padding: 5px;*/
	margin-bottom: 10px;
	/*border-radius: 5px;*/
	cursor: pointer;
	height: 90px;
	/*border: 1px solid black;*/
}

.embrello-card:last-child {
	margin-bottom: 0px;
}

.embrello-card-leftside {
	float: left;
	/*width: 22%;*/
	height: 100%;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	/*border: 1px solid orange;*/
}

.embrello-card-icon {
	width: 30px;
	height: 30px;
}

/*.embrello-card-icon-image {
	fill: red;
}*/

.embrello-card-rightside {
	padding-top: 18px;
	padding-right: 10px;
	position: relative;
	/*width: 100%;*/
	/*border: 1px solid black;*/
}

.embrello-card-title {
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: -2px;
	/*width: 100px;
	height: 20px;*/
	/*border: 1px solid green;*/
    /*background:linear-gradient(to right, transparent 50px, red);*/
}

.embrello-card-title::before {
	content: '';
	width: 172px;
    height: 18px;    
    position: absolute;
    background: linear-gradient(to right, transparent 140px, #FFFFFF);
    /*border: 1px solid green;*/
}

.embrello-card-inforow {
	overflow: hidden;
	white-space: nowrap;
}

.embrello-card-value {
	font-size: 12px;
	/*border: 1px solid red;*/
}

.embrello-card-value-unit {
	font-size: 10px;
}

.embrello-card-additionalinfo {
	font-size: 12px;
	/*float: left;*/
}

.embrello-card-additionalinfo-separator {
	margin-left: 5px;
	margin-right: 5px;
}

.embrello-card-value::before {
	content: '';
	width: 172px;
    height: 16px;    
    position: absolute;
    background: linear-gradient(to right, transparent 140px, #FFFFFF);
    /*border: 1px solid green;*/
}

.embrello-card-owner {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 4px;
}

.embrello-card-owner::before {
	content: '';
	width: 172px;
    height: 16px;    
    position: absolute;
    background: linear-gradient(to right, transparent 140px, #FFFFFF);
	/*border: 1px solid green;*/
}

.embrello-notactivated-container {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	visibility: none;
	text-align: center;
}

.embrello-notactivated-icon {
	font-size: 64px;
}

.embrello-notactivated {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.embrello-board-header>.embrello-refresh {
	/*margin-left: 6px;*/
	float: left;
}

.embrello-refresh>i {
/*	margin-top: 50px;
	cursor: pointer;
	font-size: 36px;*/
	font-size: 14px;
}

button.embrello-btn {
	border: 1px solid #BBBBBB;
	/*padding-top: 3px;
	padding-bottom: 3px;*/
	font-size: 12px;
	color: #777777;
	background-color: #FDFDFD;
	/*line-height: 20px;*/
}

button.embrello-btn:hover {
	color: #444444;
	background-color: #EDEDED;
}



/* DONUT CHART CSS */

.embrello-donut {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.embrello-donut .embrello-donut-master {
	position: absolute;
	/*background: #6DD0F2;*/

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
border-radius: 100%;
}

.embrello-donut .embrello-donut-slice {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	clip: rect(0px, 30px, 30px, 15px);
	/*border: 1px solid yellow;*/
}

.embrello-donut .embrello-donut-slice .embrello-donut-inner {
	position: absolute;
	/*background: #2A96BA;*/
	/*border: 2px solid red;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	clip: rect(0px, 15px, 30px, 0px); 
	/*-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
transition-duration: 2s;*/
}

.embrello-donut .embrello-donut-endmarker {
	position: absolute;
	background: #FFFFFF;
	/*border: 2px solid black;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	clip: rect(0px, 16px, 2px, 14px);
	/*-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;*/
}

.embrello-donut .embrello-donut-cover {
	background: #FFFFFF;
	position: absolute;
	font-size: 11px;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	border-radius: 100%;
	text-align: center;
	line-height: 28px;
}

.embrello-donut-cover-smalltext {
	font-size: 10px;
}

.embrello-donut-cover-percentsign {
	margin-left: -3px;
	font-size: 8px;
}

.embrello-donut .embrello-donut-startmarker {
	background: #FFFFFF;
	position: absolute;

	top: 0px;
	left: 14px;
	bottom: 28px;
	right: 14px;
	/*border-radius: 100%;*/
/*text-align: center;*/
}
