

.pipeline .statusheader{
    margin: 4px 0px 2px 0px;    
    cursor: pointer;
}

.pipeline .progress {
    margin: 0px 10px 5px 0px; 
    cursor: pointer;
    height:30px;
    vertical-align: middle;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
    
.pipeline .progress-bar {
    background-image: none;
}

.pipeline .shadow-progress-bar {
    background-image: none;
}

.pipeline .progress .badge {
  margin-top: 6px;
  background-color: rgba(40,40,40,0.3);
  position: absolute;
  display: inline-block;
  left: 15px;
  color:#FFF;
}

#filter-selector {
  position: absolute;
  padding-right: 20px;
  margin-right: 20px;
}

#filter-selector .dropdown-menu {
  width: calc(100% - 20px);
}

#footer {
  margin-top: 50px;
  margin-right: -5px;
  font-size: 16px;
}

.pipeline .shadow-bar {
  /* No shadow color
  */
  background-color: rgba(0, 0, 0, 0);
  
  /* Shadow color
  background-color: rgba(100, 100, 100, 0.4);
  */

  /* Line at end
  */
  border-right: 2px solid rgb(255, 0, 0);
}