button#createupdatebutton
{
	width: 100%;
}

button.bfus-warningbutton {
	/*width: 40%;*/
}

div.bfus-hidefromstart {
	text-align: center;
	display: none;
}

div#loading {
	
}

div#warning, div#error, div#info {
	/*border: solid 1px green;*/
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

div#warningtext {
	padding-bottom: 10px;
}
