#budgetapp {
        text-align: center;
      }

      
      #gyearall {
        width:250px; height:200px;
        margin: 1em;
        border-width: 0px;
        float: none;
        display: inline-block;
            
      }
      #gmonthall {
        width:250px; height:200px;
        margin: 1em;
        border-width: 0px;
        float: none;
        display: inline-block;
            
      }
      #gyearmine {
        width:250px; height:200px;
        margin: 1em;
        border-width: 0px;
        float: none;
        display: inline-block;
        
            
      }
      #gmonthmine {
        width:250px; height:200px;
        margin: 1em;
        border-width: 0px;
        float: none;
        display: inline-block;
        
            
      }
          

#cont{
  margin-top: -25px;
   margin-left: 5px; 
}
#dropdown{
width: 6em;
text-align: left;
}
.dropdown-menu li > a {
    margin-left: -20px; 
}
#refreshbutton{
  width:16em;
  height: 18px;
  margin-left: 5px; 

}
#buttons{
  margin-top: 5px;
}


.btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {

  background-color: #A6A8C1;
 }

.btn
{
  background-color: #9F418F;
}