.creditinfo{
  margin-left: -10px;
  margin-right:-10px;
  margin-top: -65px;
  padding-bottom: 5px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;

}


.creditinfo .handle{
  width:100%;
  position:absolute;
  text-align: center;
  background-color: inherit;
  z-index:1;
}

.creditinfo .handle-label{
padding:2px 5px 5px 5px;
height: 40px;
background-color: #CBE0FC;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

}

.creditinfo .handle-label:hover{

background-color: #BCCEEA;

}

.creditinfo .rating{
  position:relative;
  z-index: 2;

}


/* Variations */
.creditinfo .bad {
  background-color: #fdf7f7;
  color: #b94a48;
}

.creditinfo .bad .rating-value {
    background-color: #eed3d7;
}

.creditinfo .bad .rating-date {
     color:#F5B4B4;
}

.creditinfo .medium {
  background-color: #faf8f0;
  color: #c09853;
}
.creditinfo .medium .rating-value {
    background-color: #faebcc;
}

.creditinfo .good {
  background-color: #E3F7DE;
  color: #486400;
}

.creditinfo .good .rating-value{
    background-color: #B2E89D;
}

.creditinfo .good .rating-date{
    color: #649D55;
}

.creditinfo .handle .good:hover{
    background-color: #C4E3BC;
}

.creditinfo .handle .medium:hover{
    background-color: #FFE3A7;
}

.creditinfo .handle .bad:hover{
    background-color: #EDAAB2;
}

.creditinfo .rating-value{
    background-color: #C1D3ED; 
    font-size: 32px;
    width: 50px;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    float: left;
    letter-spacing:0.1px
    vertical-align:middle;
    text-align:center;
}

.creditinfo .rating-text{
    font-size: 12px;
    white-space:  normal;
    overflow: hidden;
    display:block;
    height: 56px;
    margin-left:-5px;
    padding-left: 5px;
    vertical-align: middle;
    display: table-cell;
}

.creditinfo .rating-date{
  display: none;
  font-size: 12px;
  position: absolute;
  z-index: 4;
  top: 20px;
  width:100%;
  vertical-align: middle;
  text-align: center;

}

.creditinfo .rating-date span{
  background-color: rgba(250,250,250,0.85);
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  }


