#location
{
	width: 99%;
	height: 20px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  position: relative;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}