#headselection {
    margin-top: 50px;
		
}
.matrix-classification {

}
.matrix {
    background-color: #83BA1F;
    text-align: center;
    line-height:50px;
    height: 50px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 2px 2px 1px 1px #4B6712;    
    font-weight: bold;
    font-size: 16px;

	
}
.matrix-container {
    background-color: #fff;
    padding-bottom:50px;
    box-shadow: 1px 1px 1px 1px #ccc;
	
	
}
.selection {
    width: 150px;
    display:inline-block;
    height: 35px;
    margin-top: 0px;
}
.users {
    margin-left:132px;
    display:inline-block;    
    width: 220px;
}
#dropdownMenu1 {
    width:220px;
}

.m{
margin-left: 70px;
}

.y{
    line-height: 50px;
    font-weight: bold;    
    color: #999;
    text-align: center;
}
.x{    
    font-weight: bold;    
    color: #999;
    text-align:center;
    margin: 2px;
    /*border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;*/
    margin-top: 50px;
}
body{
    /*background-color: #fff;*/
}

.btn-default{
    background-color: #83BA1F;
}
.dropdown-menu{
    max-height: 200px;
    overflow-y: scroll;
    padding-left: 0px;
    width: 220px;    
}