.infotile{
  margin: 0;
  margin-left: -10px;
  margin-right:-10px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  height: 110px;
  color: #FFF;
  cursor: pointer;
border-bottom-color: rgba(0, 0, 0, 0);
border-radius: 1px;
border-bottom-style: solid;
border-bottom-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0784314) 0px 2px 1px 0px;
}

.infotile:hover{

}

.infotile .name{
padding-top: 0px;
font-size: 16px;
text-align: left;
color: #FFF;
margin-left: 10px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden

}

.infotile .value{
  font-size: 54px;
  text-align: left;
  margin-left: 10px;
  padding-top: 15px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.infotile .fa-fw {
  width: inherit;
  font-size: 36px;
  vertical-align:middle;
  text-align: left;
  margin-bottom:10px;
}