.infotiles{
  margin-top: 5px;
  height:auto;
  position: relative;
}

.infotiles .tile{
  margin-left: -10px;
  margin-right: -10px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  cursor: pointer;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.infotiles .tile:hover{
  opacity: 0.85;
}

.infotiles .tile .name{
  padding-top: 0px;
  font-size: 14px;
  text-align: left;
  margin-left: 0px;
  text-overflow: ellipsis;
  vertical-align:middle;
  white-space: nowrap;
  overflow: hidden;
}

.infotiles .tile.small .name{
  font-size: 12px;
}

.infotiles .tile.large .name{
  font-size: 22px;
}

.infotiles .tile .information{
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  padding-top: 5px;
  margin-bottom: 0;
  line-height: 32px;
  vertical-align:middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.infotiles .tile.small .information{
  padding-top: 5px;
  margin-bottom: 0;
  line-height: 26px;
}

.infotiles .tile.large .information{
  padding-top: 5px;
  margin-bottom: 0;
  line-height: 42px;
}


.infotiles .tile .value{
  font-size: 26px;
  text-align: left;
  line-height: 24px;
  vertical-align:middle;
  margin-left: -7px;
  padding-top: 0px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

.infotiles .tile.small .value{
  font-size: 16px;
  line-height: 16px;
  vertical-align:middle;
}

.infotiles .tile.large .value{
  font-size: 36px;
  line-height: 36px;
  vertical-align:middle;
}

.infotiles .refresh{
  cursor: pointer;
}

.infotiles .refresh:hover{
  opacity: 0.85;
}

.infotiles .tile {
  animation-duration: 1s;
  animation-name: expand;
}

@keyframes expand {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}