.container-history-flow{
	height: 400px;	
	overflow-y: scroll;
	padding: 20px;
}
.cbp_tmtimeline{
	font-size: 10px;
}
.cbp_tmicon{
	text-align: center;
	line-height: 20px;
}
.history-flow-icon{
	margin-left: 5px;
	font-size: 20px;
}
.cbp_tmlabel{	
	cursor: pointer;			
	white-space: normal;	
}