.webLegend{
		color:#555;
		margin-left:35%;
		padding-left: 10px;
}

.spanbox{
	font-weight:bold;
}
.container {
	background: no-repeat 10px 50%;

}
.own {
	background:#cadde6 no-repeat 10px 50%;
	border:2px solid #97bbcd;
	color:#555;
	border-radius:4px;
	font-size:11px;
	padding:2px 5px;
	margin-bottom:10px;
	width: 80px;
	height: 20px;
}
.all {
	background:#e9e9e9 no-repeat 10px 50%;
	border:2px solid #c3c3c3;
	color:#555;
	border-radius:4px;
	font-size:11px;
	padding:2px 5px;
	margin-bottom:10px;
	width: 80px;
	height: 20px;
}