
.carousel {
    /*background-color: green;*/
    margin: 0;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    position: relative;
}

.carousel-inner {
    padding: 0;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

.item {
    /*background-color: orange;*/
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
}

.item>h1 {
    font-size: 14px;
    font-weight: 600;
}

.carousel-control {
    /*background-color: red;*/
    font-size: 12px;
    height: 100%;
    text-align: center;
    top: 0;
}

.carousel-control > i {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}