
.carousel {
    border-bottom-width: 1px;
    border-color: lightgrey;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 1px;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    position: relative;
    width: 100%;
}

.carousel.empty {
    display: none;
}

.carousel-inner {
    padding: 0;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

.item {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
}

.item > h1 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.item-date {
    font-size: 0.8em;
    margin-top: 0;
}

.carousel-control {
    bottom: 0;
    font-size: 12px;
    height: 18px;
    padding: 0;
}

.carousel-control.left {
    text-align: left;
}

.carousel-control.right {
    text-align: right;
}

.carousel-control > i {
    position: absolute;
    top: 0;
}

.carousel-control.left > i {
    left: 0;
}

.carousel-control.right > i {
    right: -2px;
}

.carousel.single > .carousel-indicators,
.carousel.single > .carousel-control {
    display: none;
}
