.businessfunnel{
}

.statusheader{
	margin: 4px 0px 2px 0px;	
	cursor: pointer;
}

.progress {
	margin: 0px 10px 5px 0px; 
	cursor: pointer;
	height:30px;
	vertical-align: middle;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
	
.progress .bar {
  font-weight: bold;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.businessfunnel .progress  .badge {
	margin-top: 6px;
  background-color: rgba(40,40,40,0.3);
  position: absolute;
  display: inline-block;
  left: 15px;
  color:#FFF;
}

.progress .overflow{
	color: black;
	text-indent: 20px;

}

#mine-link {
padding-left: 11px;
}

#mine-link span {
padding-left: 2px;
}

.businessfunnel .btn-group{	
	 width: 100% ;
/*  margin-left: auto ;
  margin-right: auto ;
background-color: inherit;
color: inherit;*/
margin-top: 5px;
text-align: center;
	
}

.businessfunnel .btn-group button{
border-color: inherit;
color: inherit;
}

.businessfunnel .btn-group>.btn {
	float: none;
}

.btn-group>.btn:first-child {
	margin-right: -4px;
	
}